<div class="center-box">
  <h2 class="title-header">Servicios disponibles</h2>

  <!-- UI flotante arriba derecha -->
  <div class="top-ui">
    <app-player-ui [vida]="vidaActual" [mostrarDinero]="false"></app-player-ui>
    <app-player-ui [dinero]="dineroActual" [mostrarVida]="false"></app-player-ui>
  </div>

  <!-- Contenido dinámico -->
  <div class="table-scroll" [class.no-scroll]="productoSeleccionado">
    
    <ng-container *ngIf="productoSeleccionado; else listaServicios">
      <div class="detalle-producto-emergente">
        <div class="detalle-cuerpo">
          <div class="info-izquierda">
            <div class="titulo-producto">{{ productoSeleccionado.nombre }}</div>
          </div>
          <div class="info-derecha">
            <p><strong>Cantidad disponible:</strong> {{ productoSeleccionado.cantidad }}</p>
            <label>
              <strong>Cantidad:</strong>
              <input type="number" [value]="cantidadAComprar" min="1" [max]="productoSeleccionado.cantidad"
                     (input)="cantidadAComprar = $any($event.target).value">
            </label>
            <p><strong>Precio calculado:</strong> {{ calcularPrecio(productoSeleccionado) }} monedas</p>
            <button class="button2" (click)="comprar(productoSeleccionado)">Comprar</button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #listaServicios>
      <table class="service-table">
        <thead>
          <tr>
            <th>SERVICIO</th>
            <th>VALOR</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of servicios">
            <td><strong>{{ servicio.nombre }}</strong></td>
            <td>{{ servicio.precio }}</td>
            <td>
              <button class="button2" (click)="consultar(servicio)">Consultar</button>
              <button class="button2" (click)="comprar(servicio)">Comprar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>

  <!-- Botón de regreso -->
  <div class="return-container">
    <button class="button" (click)="btnClick()">devolverse</button>
  </div>
</div>
