<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>

    <table>

        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${listaProductos}">
                <td th:text="${producto.nombre}" ></td>
                <td th:text="${producto.precio}" ></td>
                <td>
                    <a th:href="@{/producto/view/{id}(id=${producto.id})}">Ver</a>


                </td>
            </tr>

        </tbody>
    </table>
</body>
</html>