:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #E0E4CC; /* Fondo beige */
  overflow: hidden;
  font-family: 'OptimusPrincepsSemiBold', sans-serif;
}

#opensea-container {
  width: 100vw;
  height: 100vh;
  background-color: #E0E4CC;
  z-index: 1;
}

/* Marcador de ciudad */
.ciudad-marcador {
  width: 6px;
  height: 6px;
  background-color: #C44536;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  cursor: pointer;
  z-index: 4;
}


.money-bar {
  position: absolute;
  bottom: 20px;  /* Ajusta la distancia al borde inferior */
  right: 20px;   /* Ajusta la distancia al borde derecho */
  background-color: rgba(0, 0, 0, 0.6); /* fondo semi-transparente */
  padding: 8px 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  z-index: 5; /* por encima del visor */
}

.money-icon {
  width: 28px;  /* Ajusta el tamaño del ícono */
  height: 28px;
  margin-right: 8px;
}

.money-amount {
  color: white;
  font-size: 18px; /* Ajusta tamaño de texto */
  font-weight: bold;
}

.health-bar-container {
  position: absolute;
  top: 55px;
  left: 15px;
  height: 30px;
  width: 280px; /* ancho total de la sección */
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  align-items: center;
  z-index: 5;
  padding: 0 8px;
}

.health-bar-outer {
  flex-grow: 1;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  overflow: hidden;
  margin-right: 10px;
}

.health-fill {
  height: 100%;
  background-color: #C44536; /* color de vida */
  transition: width 0.3s ease;
}

.health-icon {
  width: 24px;
  height: 24px;
}
