<!-- Contenedor del visor OpenSeadragon -->
<div id="opensea-container"></div>

<!-- Div que representa el marcador (la ciudad) -->
<div id="ciudad-marcador" class="ciudad-marcador">
  <div class="ciudad-tooltip">
    {{ cityName }}
  </div>
</div>



<div class="floating-ui top-left">
  <app-player-ui [vida]="vidaActual" [mostrarDinero]="false"></app-player-ui>
</div>

<div class="floating-ui bottom-right">
  <app-player-ui [dinero]="dineroActual" [mostrarVida]="false"></app-player-ui>
</div>

  <div class="action-buttons">
    <button class="action-btn" (click)="goCommerce()">Comerciar</button>
    <button class="action-btn" (click)="goService()">Servicios</button>
    <button class="action-btn" (click)="goTravel()">Viajar</button>
  </div>
  