<div class="banner-container">
    <div class="icon-container"></div>
    <h1 class="listTitle">Seleccionar rol</h1>
</div>
<div class="foreground-text-aux"></div>

<div class="main-content">
    <h2 class="caravana-name">{{ currentPersonaje.clase }}</h2>
    <div class="character-image">
      <img [src]="currentPersonaje.img" alt="character" />
    </div>
</div>


<div class="controls">
  <button (click)="anterior()" class="arrow">
    <img [src]="flechaImg" class="arrow-img flipped" alt="Flecha izquierda">
  </button>
  <button (click)="siguiente()" class="arrow">
    <img [src]="flechaImg" class="arrow-img" alt="Flecha derecha">
  </button>
</div>


<div class="confirm-container">
  <button class="button" (click)="btnClickNuevo()">Confirmar</button>
</div>

<div class="return-container">
  <button class="button" (click)="btnClick()">devolverse</button>
</div>

<div class="stats">
  <h3>Historia</h3>
  <div class="listed">
    <p></p>
    <p>{{ currentPersonaje.stats }}</p>
  </div>
</div>
 






