@import url('https://fonts.cdnfonts.com/css/optimus-princeps');

body {
    background-color: black; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('/images/castillo.jpg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    height: 100vh;
    min-height: 100vh; 
    margin: 0;
    
    
}



.foreground-text-aux {
    position: relative;
    top: 20px; 
    left: 5%; 
    width: 90%; 
    min-height: 100%;
    background-image: url('/images/imageText.png');
    background-size: cover; 
    background-position: center top;
    background-repeat: repeat-y;  
    z-index: 2;
    opacity: 0.85; 
    
}


.foreground-text {
    position: relative;
    top: 50px;
    left: 5%;
    width: 90%;
    height: auto;
    z-index: 3; 
    color: #C5BFB5; 
    font-size: 1.1em;
    text-align: center;
}

.banner-container{
    position: relative;
    width: 100%; /* Ocupa todo el ancho */
    height: 80px; /* Ajusta la altura según tu imagen */
    background-image: url('/images/banner.png');
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.subtitle_List {
    color: #C5BFB5; 
    font-size: 28px;
    text-align: left;
    font-family: 'OptimusPrinceps', sans-serif;
    display: block;
    padding-left: 10px;  
}

.subtitle_List:hover {
    text-shadow: 2px -2px 2px rgba(0, 0, 0, 0.6), /* Relieve negro */
                -2px 2px 2px rgba(255, 255, 255, 0.3); /* Efecto de bisel */
    
}



.listTitle {
    position: relative;
    z-index: 3; 
    color: #C5BFB5;
    font-family: 'OptimusPrincepsSemiBold', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-style: bold;
    

}



.table_Text {
    width: 90%; 
    margin: 60px auto; 
    font-size: 20px; 
    text-align: center;
    border-collapse: collapse; 
}

.table_Text thead {
    background-color: rgba(0, 0, 0, 0.6);
}



.table_Text th, .table_Text td {
    padding: 15px 20px; 
    border: 2px solid #64603B; 
    color: #C5BFB5; 
}



.table_Text a {
    color: #9E895A; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.table_Text a:hover {
    color: rgba(231, 201, 31, 0.767); 
}

.icon-image {
    width: 25px; 
    height: auto; 
    margin-left: 10px; 
}
