<div class="banner-container">
    <div class="icon-container"></div>
    <h1 class="listTitle">Crear caravana</h1>
</div>
<div class="foreground-text-aux"></div>

<div class="main-content">
    <h2 class="caravana-name">{{ currentCaravana.clase }}</h2>
    <div class="character-image">
      <img [src]="currentCaravana.img" alt="character" />
    </div>
</div>


<div class="controls">
  <button (click)="anterior()" class="arrow">
    <img [src]="flechaImg" class="arrow-img flipped" alt="Flecha izquierda">
  </button>
  <button (click)="siguiente()" class="arrow">
    <img [src]="flechaImg" class="arrow-img" alt="Flecha derecha">
  </button>
</div>


<div class="confirm-container">
  <button class="button">Confirmar</button>
</div>

<div class="return-container">
  <button class="button" (click)="btnClick()">devolverse</button>
</div>

<div class="stats">
  <h3>Caravana Stats</h3>
  <div class="listed">
    <p></p>
    <p>Salud: {{ currentCaravana.stats.salud }}</p>
    <p>Velocidad: {{ currentCaravana.stats.velocidad }}</p>
    <p>Capacidad: {{ currentCaravana.stats.capacidad }}</p>
    <p>Dinero: {{ currentCaravana.stats.dinero }}</p>
  </div>
</div>
 
<div class="form-container">
  <label class="input-label">Nombre del jugador</label>
  <input type="text" class="custom-input" placeholder="Escribe tu nombre" />

  <label class="input-label">Nombre de la caravana</label>
  <input type="text" class="custom-input" placeholder="Escribe el nombre de la caravana" />
</div>





