<div class="banner-container">
    <h1 class="listTitle">Crear caravana</h1>
</div>
<div class="foreground-text-aux"></div>

<div class="main-content">
    <div class="character-image">
      <img [src]="currentCharacter.img" alt="character" />
    </div>
  </div>
  

<!--





<div class="selector-overlay"></div>

<div class="character-selector">
  
  



  <div class="banner">
    <img src="../../assets/img/creation/banner.png" class="banner-icon" alt="Icono">
    <span class="banner-text">Texto</span>
  </div>

  
  <div class="main-content">
    
    <div class="character-image">
      <img [src]="currentCharacter.img" alt="character" />
    </div>

    
    <div class="stats">
      <h3>Caravania stats</h3>
      <p *ngFor="let stat of currentCharacter.stats">si</p>
    </div>

    
    <div class="info-form">
      <p>Nombre: </p>
      <p>Clase: </p>
    </div>
  </div>

  
  <div class="controls">
    <button (click)="anterior()" class="arrow"></button>
    <button class="confirm">Confirmar</button>
    <button (click)="siguiente()" class="arrow"></button>
  </div>
</div>









-->

