@import url('https://fonts.cdnfonts.com/css/mantinia');
@import url('https://fonts.cdnfonts.com/css/optimus-princeps');

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../assets/img/welcome_Page/runa_elden.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 400px 550px;
  background-position: 50% -10px;
 

    font-family: 'OptimusPrincepsSemiBold', sans-serif;
  color: #9E895A;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}


.title-container,
.container {
  margin: 0;
  padding: 0;
  
}

.title {
  font-size: 110px;
  transform: translateY(-72px);
  text-shadow: 
    3px 3px 0px rgba(0, 0, 0, 0.8),
    -3px -3px 0px rgba(255, 255, 255, 0.2),
    2px -2px 2px rgba(0, 0, 0, 0.6),
    -2px 2px 2px rgba(255, 255, 255, 0.3);

}

.subtitle {
  font-size: 18px;
  color: #AAA399;
  text-shadow: 0px 0px 5px rgba(255, 215, 0, 0.5);
  transition: color 0.3s ease, text-shadow 0.3s ease;
  margin: 0.8em 0;
  transform: translateY(30px);
  
}

.subtitle:hover {
  color: #80672ff3;
  text-shadow: 
    0px 0px 10px #80672ff3,
    0px 0px 20px #80672ff3;
  transform: translateY(30px) scale(1.1);
}
